---
import BoardMember from "../components/BoardMember.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Board Members</h1>
    <BoardMember name="Member 1" position="Lead Sentirist" picture="https://i.imgur.com/wCp4tjO.png"></BoardMember>
    <BoardMember name="Member 2" position="Lead Sentirist" picture="https://i.imgur.com/wCp4tjO.png"></BoardMember>
    <BoardMember name="Member 3" position="Lead Sentirist" picture="https://i.imgur.com/wCp4tjO.png"></BoardMember>
</MainLayout>