---
import BoardMember from "../components/BoardMember.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getCollection } from "astro:content";

const boardCollection = await getCollection("board");
---

<MainLayout name="board">
  <u><h1 class="text-center text-4xl font-display">Our Board Members</h1></u>
  <div class="flex flex-row flex-wrap justify-center">
    {
      boardCollection.map((member) => (
        <BoardMember
          name={member.data.name}
          position={member.data.position}
          alt={member.data.picture.description}
          picture={member.data.picture.image}
        />
      ))
    }
  </div>
</MainLayout>
