---
import MainLayout from "../layouts/MainLayout.astro";
import Event from "../components/Event.astro";
import { getCollection } from "astro:content";
const events = await getCollection("event");
---

<MainLayout name="events">
  <u
    ><h1 class="text-center text-4xl font-display">
      Events
    </h1></u
  >
  <ul class="grid grid-cols-3 gap-2 justify-center p-4">
    {
      events.map((event) => (
        <li>
          <Event
            name={event.data.name}
            description={event.data.description}
            date={event.data.date}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
