---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const galleryCollection = await getCollection("gallery");
---

<MainLayout name="gallery">
  <!-- <ul class="list-none grid gap-4 grid-cols-4"> -->
    {
      galleryCollection.map((entry) => (
        <div class="inline-block ">
            <Image
            src={entry.data.picture.image}
            alt={entry.data.picture.description}
            width="400"
          />
        </div>
      ))
    }
  <!-- </ul> -->
</MainLayout>
