---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const galleryCollection = await getCollection("gallery");

let chunks = [];
for (let i = 0; i < galleryCollection.length; i += 4) {
  const chunk = galleryCollection.slice(i, i + galleryCollection.length / 4);
  chunks.push(chunk);
}
console.log(chunks);
---

<MainLayout name="gallery">
  <div class="text-center space-y-4">
    <u><h1 class="text-4xl font-display">Gallery</h1></u>
    <ul class="flex flex-row gap-4 justify-center">
      {
        chunks.map((chunk) => (
          <ul class="flex flex-col gap-4">
            {chunk.map((entry) => (
              <li>
                {/* <p>{entry.data.title}</p> */}
                <Image
                  src={entry.data.picture.image}
                  alt={entry.data.picture.description}
                  class="rounded-md border-[3px] border-white max-w-[16vw]"
                />
              </li>
            ))}
          </ul>
        ))
      }
    </ul>
  </div>
</MainLayout>
