---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from 'astro:assets';
import logo from "../assets/logo.jpg"
---


<MainLayout name="Dermatology Club Website">
<u><p style="text-align: center;" class="text-5xl font-display">Dermatology Club Website</p></u>
<div class="flex">
	<div><Image style='border:7px solid #F5F5DC;' src={logo} alt="Dermatology Club Logo" width="500"/></div>
	<div><h1 style="font-size:2vw; margin-left: 50px; margin-top: 90px" class="text-5xl font-display"><u>Club Activities:</u></h1>
		<div><ul>
			<div><li style="font-size: 20px; margin-top: 20px; margin-left: 80px; list-style-type: circle"><b>We talk about the anatomy of the skin topically and internally.</b></li></div>
			<div><li style="font-size: 20px; margin-left: 80px; list-style-type: circle"><b>We talk about the prevention of skin cancer and other types of skin diseases.</b></li></div>
			<div><li style="font-size: 20px; margin-left: 80px; list-style-type: circle"><b>We let people participate in fun activities such as giveaways, as well as monthly potlucks.</b></li></div>
			<div><li style="font-size: 20px; margin-left: 80px; list-style-type: circle"><b>People can come to express concerns about their skin and we will provide them with aesthetic insights as well as chemical insights.</b></li></div>
		</ul></div>
		<div><h1 style="font-size:2vw; margin-left: 50px; margin-top: 50px" class="text-5xl font-display"><u>Club Information:</u></h1></div>
		<div><ul>
			<div><li style="font-size: 18px; margin-top: 20px; margin-left: 80px; list-style-type: circle"><b>Mission: Spread awareness about skin diseases and to teach about the anatomy of the skin in order to prevent skin cancers and improve aesthetics!</b></p></div>
			<div><li style="font-size: 18px; margin-left: 80px; list-style-type: circle"><b>Meeting in Room 415: 2nd and 4th Friday of every month!</b></p></div>
		</ul><div>
	</div>
</div>
</MainLayout>
