---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from 'astro:assets';
import logo from "../assets/logo.jpg"
---


<MainLayout name="Dermatology Club Website">
<p style="text-align: center;" class="text-5xl">Dermatology Club Website</p>
<Image src={logo} alt="Dermatology Club Logo" width=500 />
<h1>Club Activities:</h1>
<ul>
	<li>We talk about the anatomy of the skin topically and internally.</li>
	<li>We talk about the prevention of skin cancer and other types of skin diseases.</li>
	<li>We let people participate in fun activities such as giveaways, as well as monthly potlucks.</li>
	<li>People can come to express concerns about their skin and we will provide them with aesthetic insights as well as chemical insights.</li>
</ul>
<p>Mission: "Spread awareness about skin diseases and to teach about the anatomy of the skin in order to prevent skin cancers and improve aesthetics."</p>
<p>Room 415</p>
<p>2nd and 4th Friday of every month</p>
<p>Meetings/Events Calendar on Events Page</p>
</MainLayout>