---
const {name, position, picture} = Astro.props;
---

<div class="flex flex-row">
	<img src={picture} alt={`Picture of ${name}`} width="160">
	<div class="flex flex-col">
		<h1>{name}</h1>
		<p>{position}</p>
	</div>
</div>
