---
import { Image } from "astro:assets";
import type { ImageMetadata } from 'astro';

interface Props {
	name: string;
	position: string;
	picture: ImageMetadata;
	alt: string;
}

const { name, position, picture, alt } = Astro.props;
---
<div class="m-4">
	<div class="flex p-4 rounded-lg border border-black-300 shadow-lg bg-white">
		<Image src={picture} alt={alt ?? `Image of ${name}`} width="500" />
	</div>
</div>
