---
import { Image } from "astro:assets";

const {name, position, picture, alt} = Astro.props;
console.log(Astro.props)
---

<div class="flex flex-row">
	<Image src={picture} alt={alt ?? `Image of ${name}`} width="160" />
	<div class="flex flex-col">
		<h1>{name}</h1>
		<p>{position}</p>
	</div>
</div>
