---
interface Props {
  name: string;
  description: string;
  date: Date;
}

const { name, description, date } = Astro.props;
date.setMinutes(date.getMinutes() + date.getTimezoneOffset());
---

<div class="p-4 rounded-md h-full flex flex-col justify-around border-black border-2 bg-white">
  <p class="font-bold">{name}</p>
  <p>{description}</p>
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
</div>
