---
interface Props {
  name: string;
  description: string;
  date: Date;
}

const { name, description, date } = Astro.props;
date.setMinutes(date.getMinutes() + date.getTimezoneOffset());
---

<div class="p-8 rounded-lg border-black border-2">
  <p>{name}</p>
  <p>{description}</p>
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
</div>
