<footer class="m-4">
  <ul
    class="flex flex-wrap justify-center mt-3 text-sm font-medium text-gray-500 sm:mt-0"
  >
    <li>
      <a
        href="https://www.instagram.com/dermatologyclub/profilecard/?igsh=NTc4MTIwNjQ2YQ=="
        class="hover:underline me-4 md:me-6">Instagram</a
      >
    </li>
    <li>
      <a
        href="https://classroom.google.com/c/NzExNDkzODgzMTk3?cjc=obug64f"
        class="hover:underline me-4 md:me-6">Join the Google Classroom!</a
      >
    </li>
  </ul>
</footer>
