---
interface Props {
  page: string;
}
const { page } = Astro.props;
const underlined = (target: string) =>
  "hover:underline" + (page == target ? " underline" : "");
---

<header class="bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <a class="hover:underline" href="/">Dermatology Club</a>

    <ul class="flex flex-row gap-4">
      <li><a class={underlined("events")} href="/events">Events</a></li>
      <li><a class={underlined("gallery")} href="/gallery">Gallery</a></li>
      <li><a class={underlined("board")} href="/board">Board</a></li>
    </ul>
  </nav>
</header>
