---
---
<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <a class="hover:underline" href="/">Dermatology Club</a>

    <ul class="flex flex-row gap-4">
      <li><a class="hover:underline" href="/events">Events</a></li>
      <li><a class="hover:underline" href="/gallery">Gallery</a></li>
      <li><a class="hover:underline" href="/board">Board</a></li>
    </ul>
  </nav>
</header>
  